<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <select #selectElem (change)="setUrl(selectElem.value)">
        <option *ngFor="let url of databaseUrls">
          {{url}}
        </option>
      </select>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <input type="text" class="form-control mb-2 mb-sm-0" name="inlineFormInputName" id="inlineFormInputName" [(ngModel)]="newUrl"
            placeholder="http://grest..." />
          <button (click)="newUrlButton()" class="btn btn-default">Add DB</button>
          <button (click)="clearDB()" class="btn btn-danger">Clear</button>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <select #selectElemTable (change)="setTable(selectElemTable.value)">
            <option *ngFor="let item of tables">
              {{item}}
            </option>
          </select>
        </li>


        <li class="nav-item">

        </li>
      </ul>

    </div>
  </div>
</div>

<br />

<div class="row" style="margin:5px;">


  <div class="col-md-4" style="text-align: center;">
    <button class="btn btn-md btn-default" style="margin:auto;" (click)="prev()">&lt; Back</button>
  </div>

  <div class="col-md-4" style="text-align: center;">

    <strong>{{getRange()}}</strong>

  </div>

  <div class="col-md-4" style="text-align: center;">
    <button class="btn btn-md btn-default" (click)="next()">Forward &gt;</button>
  </div>

</div>


<div *ngIf="busy" class="alert alert-danger animated infinite shake" style="width:80%; margin:0 auto; text-align:center">
  <strong>
    {{busyMessage}}
  </strong>
</div>



<div id="databaseTable" style="margin:15px;">
  <table class="table table-striped table-hover ">
    <tr>
      <th><span class="glyphicon glyphicon-certificate"></span></th>
      <th>#</th>
      <th *ngFor="let col of tableColumns; let i = index">{{col}}</th>          
    </tr>


    <tr *ngFor="let row of tableRows; let i = index">
      <td><span class="glyphicon glyphicon-edit"></span></td>
      <td>{{i+1}}</td>
      <td *ngFor="let col of tableColumns; let i = index">
        {{row[col]}}
      </td>
    </tr>


      


  </table>

</div>